nav {
    position: fixed;
    width: 80%;
    height: 40px;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    background: #6A5ACD;
    gap: 15px;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.nav-links a:hover {
    border-bottom: 3px solid white;
}

.nav-links li {
    list-style: none;
}