aside {
    display: block;
    position: fixed;
    height: 100vh;
    width: 280px;
    margin-top: 50px;
}

aside img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
}

aside h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #6A5ACD;
}

aside h2 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

aside #social {
    display: block;
    margin: 30px auto;
    width: 160px;
}

.fa {
    font-size: 20px;
}

aside a {
    display: flex;
    width: 160px;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    gap: 30px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-left: 4px solid #6A5ACD;
}

aside a:hover {
    color: #6A5ACD;
}

aside a:hover .fa {
    color: #6A5ACD;
}

aside span {
    font-size: 16px;
}